<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Poc do TCC responsivo e com autenticação via JWT Token</h1>
      <p>Poc usando Angular v5.2.1, .NET Core 2.2 WebApi e JWT Token</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Registrar</a> 
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Entrar</a>
      </p>       
    </div>
  </div>
</main>
