<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Poc do TCC DropShipping responsivo e com autenticação via JWT Token</h1>
      <p>Poc usando Angular v5.2.1, .NET Core 2.2 WebApi e JWT Token</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Registrar</a> 
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Entrar</a>
      </p>       
    </div>
  </div>

  <div class="container">
  <div class="row">
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/ethan-haddox-484912-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Denim</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Carrot-fit jeans</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/serrah-galos-494231-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Jackets</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Striped T-Shirt</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/averie-woodard-319832-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Shirts</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Short top</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/kyle-loftus-592041-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Denim</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Shirt</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/dmitriy-ilkevich-437760-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Coats</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Beige</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/ian-dooley-347968-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">T-Shirts</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Skull Tee</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/alex-holyoake-571682-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons">
               
              <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a>
               
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Denim</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Trucker jacket</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/ao-456813-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Denim</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="detail" class="text-dark">Blouse</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/product/kyle-loftus-592041-unsplash.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a href="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a href="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Comprar</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">Denim</p>
          <h3 class="h6 text-uppercase mb-1"><a routerLinkActive="active" routerLink="detail" class="text-dark">Shirt</a></h3><span class="text-muted">R$40,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
  </div>
  </div>
</main>
