
<div class="row">
  <div class="col-md-6 col-sm-3">
    <p>{{homeDetails?.message}}</p>
    <p><strong>Nome:</strong> {{homeDetails?.firstName}} {{homeDetails?.lastName}}</p>
    <p *ngIf="homeDetails?.location"><strong>Endereço:</strong> {{homeDetails?.location}}</p>
    <p *ngIf="homeDetails?.locale"><strong>Local:</strong> {{homeDetails?.locale}}</p>
    <p *ngIf="homeDetails?.gender"><strong>Sexo:</strong> {{homeDetails?.gender}}</p>
    <div *ngIf="homeDetails?.pictureUrl"><img src="{{homeDetails?.pictureUrl}}" /></div>  
  </div>
</div>

 
 
 
  
